{do $message->name = 'example'}
{do $message->subject = ['en' => 'Example', 'cz'=> 'Příklad']}
{do $message->type = 'outgoing'}
{do $message->email = 'example@lqd.cz'}
{do $message->layout = 'lqd'}
{do $message->active = true}
{do $message->html = [
'en' => 'Hello,\n example.{include footer_en}',
'cz'=> 'Dobrý den,\n příklad.{include footer_cz}'
]}