{do $message->name = 'subscribedInfo'}
{do $message->subject = ['en' => 'Subscribe confirmation', 'cz'=> 'Potvrzení odběru']}
{do $message->type = 'outgoing'}
{do $message->email = 'contact@lqd.cz'}
{do $message->alias = 'Liquid Design'}
{do $message->layout = 'lqd'}
{do $message->html = [
'en' => 'Hello,\n we accepted your subscribe.',
'cz'=> 'Dobrý den,\n potvrzujeme Váš odběr.'
]}