{do $message->name = 'test_upload'}
{do $message->subject = ['en' => 'Subject', 'cz'=> 'Předmět']}
{do $message->type = 'outgoing'}
{do $message->email = 'out@lqd.cz'}
{do $message->text = [
'en' => 'English text',
'cz'=> 'Czech text'
]}
{do $message->html = [
'en' => 'en html {$test}',
'cz'=> 'cz html {$test}'
]}
DEFAULT HTML  (PRIMARY MUTATION)
{$test}