parameters:
	langs:
		'cz': ''
		'en': '_en'

services:
	- Tracy\Debugger::getBar
	- Nette\Caching\Storages\DevNullStorage
	- Nette\Application\LinkGenerator
	routing.router: Nette\Application\Routers\RouteList
	- Nette\Http\Request
	- Nette\Http\Response
	- Nette\Http\UrlScript


messages:
	email: 'config@lqd.cz'
	alias: 'Config Krehlik'
	templateMapping:
		rootPaths:
			tests: 0
		directory: template
		fileMask: email-%s.latte # for specific email templates - multiple files can use one global template
		globalDirectory: globalTemplates
		globalFileMask: global-%s.latte # for global email templates
	templates:
		rootPaths:
			src: 0
			templates: 1
		messages:
			- subscribedInfo

storm:
	debug: true
	connections:
		default:
			host: 127.0.0.1
			dbname: _test_messages
			user: root
			password: ""
			driver: mysql
			charset: utf8
			collate: utf8_czech_ci
			mutations:
				'cz':'_cz'
				'en':'_en'
			primaryKeyGenerator: StORM\DIConnection::generateUuid